
.navbar-overlay
  opacity: 0
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  transform: translateX(-100%)
  z-index: 0
  &.navbar-overlay--active
    z-index: 1500
    transform: translateX(0)

.nav-item.drop-down-btn
  .nav
    display: none

.navbar-dark .navbar-toggler-icon 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

.navbar-toggler
  &:focus
    outline: none
  &.navbar-toggler
    border: none

nav.navbar  
  position: fixed
  width: 100%
  top: 0
  z-index: 2000
  .nav-link
    font-size: 14px

.nav-item
  .unlim-btn
    font-size: 18px

.overflow-hidden
  overflow: hidden

.nav-link 
  cursor: pointer

.js-custom-dropdown
  &.dropdown-menu
    display: flex
    justify-content: flex-end
    border: none
    border-radius: 0
    left: 100%
    background: transparent
    transform: translateX(-100%)
    margin-top: 15px
    transition: 0.3s ease
    transition-delay: 0.3s
    opacity: 0
    pointer-events: none
    &.show
      opacity: 1
      pointer-events: unset   

    a
      color: white
      padding: 4px 7px
      border: 1px solid transparent
      border-radius: 5px
      text-align: center
      line-height: 1
      display: flex
      align-items: center
      &.active
        background: transparent
        border: 1px solid #fff
      span,img
        margin-right: 5px
      &:not(:last-child)
        margin-right: 10px
      &:hover, &:focus
        border: 1px solid #fff
        background: transparent

.dropdown-overlay
  position: absolute
  top: 100%
  background: #C90000
  height: 50px
  width: 100%
  left: 0
  display: none

@media screen and ( max-width: 992px )
  .dropdown-overlay
    display: none !important
  .js-custom-dropdown
    &.dropdown-menu
      margin: 0
      transform: translateX(0)
      height: 0
      overflow: hidden
      transition-delay: 0
      .dropdown-item
        font-size: 14px
        img
          width: 15px
          height: 8px
    &.show
      height: 25px
  .nav-link
    &:hover
      span.line-top
        opacity: 0
  .nav-link--active
    a
      span.line-top
        opacity: 1 !important
      
    .drowdown-icon
      transform: rotate(180deg)
  .navbar-toggler
    z-index: 2000
  
  .drowdown-icon
    transition: 0.3s ease

  .under-nav
    display: none !important
  .navbar-collapse.collapse
    display: block
    z-index: 1999
    padding-top: 40px
    padding-bottom: 20px
    background: rgba(178, 0, 0, 0.8)
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 250px
    overflow-y: scroll
    transform: translateX(-100%)
    transition: 0.3s ease

    &.navbar-collapse--active
      transform: translateY(0)

    .nav-item 
      padding-left: 40px

      .dropdown-menu
        padding: 0
        background: transparent
        border: none
        .dropdown-item
          color: white

      &.ml-2rem
        padding: 0
        .unlim-btn
          border-radius: 0
          width: 100%
          display: block
          padding-left: 40px
          color: white
          border-left: none
          border-right: none
          background: transparent
          &:hover
            background: white
            color: #d40000
    .nav-link
      font-size: 15px
      

  

  .nav-item.drop-down-btn
    .nav
      display: block
