.dashboard-box
  border-radius: 10px
  padding: 20px
  background: #fff
  border: 1px solid rgba(135, 135, 135, 0.84)
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)

.dashboard-box__top
  display: grid
  grid-template-columns: 1fr 1.5fr 1fr
  .opening-title
    margin: 0
    align-items: flex-start
    h3
      font-size: 20px
    span
      height: 2px
      margin-bottom: 2px

.dashboard__content
  margin-top: 10px

.dashboard-box__name
  display: flex
  align-items: center
  .img-wrapper
    width: 20px
    height: 20px
    display: flex
    align-items: center
    justify-content: center
    margin-right: 5px
  .name-wrapper
    display: flex
    align-items: flex-end
    p
      margin-bottom: 0
      font-size: 14px
      border-bottom: 1px dashed #787878
    .change-username
      padding: 0
      width: 18px
      height: 18px
      display: flex
      align-items: center
      justify-content: center
      border-bottom: 1px solid $accent
      margin-left: 5px
      border-radius: 0
      img
        width: 12px
        height: 12px
 
.sim-basic-info
  >div
    display: flex
    align-items: center
    justify-content: flex-end
    font-size: 12px
  .sim-number
    font-family: $semibold
  .info-bottom
    font-size: 10px
  .info-top
    img,
    .sim-type
      margin-right: 5px
    .sim-number
      margin-left: 5px

.change-name-form
  display: none
  input
    font-size: 12px
    height: 20px
    width: 100px
    border-radius: 2px

.dashboard-box
  .col-lg-4
    flex: 0 0 30%
    max-width: 30%
  .col-lg-8
    flex: 0 0 70%
    max-width: 70%

.dashboard-card
  border-radius: 10px
  padding: 10px 15px
  background: rgba(135, 135, 135, 0.11)
  .card-top
    font-size: 12px
    margin-bottom: 10px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    >span
      margin-bottom: 10px
    button
      margin-bottom: 10px
      width: 26px
      height: 26px
      display: flex
      padding: 0
      position: relative
      align-items: center
      justify-content: center
      border: 1.8px solid transparent
      transition: 0.3s ease
      border-radius: 50%
      &:hover
        border-color: $accent
        img
          filter: brightness(0) invert(1)
        &::before
          opacity: 1
      &::before
        position: absolute
        display: block
        content: ''
        width: 18px
        height: 18px
        opacity: 0
        transition: 0.3s ease
        background: red
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 1
        border-radius: 50%
      img
        position: relative
        z-index: 2
        width: 12px
        height: 12px

  .plan-name
    font-size: 16px
    font-family: $semibold

  .included-items-wrapper
    border: 1px solid #787878
    border-right: none
    border-left: none
    display: flex
    margin: 10px 0
    .included-item
      text-decoration: none
      display: flex
      flex-direction: column
      align-items: center
    .img-wrapper
      width: 40px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
    .item-name
      font-size: 9px !important
      text-align: center
      color: red
      line-height: 1.5
  .plan-type-wrapper
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    span
      font-size: 18px
      text-transform: uppercase
  .total-wrapper
    span
      font-size: 14px
      &:last-child
        font-family: $semibold
        font-style: italic
      strong
        font-size: 26px
  .plan-time
    >div
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
    span
      font-size: 12px
      color: #787878

.list-line
  display: grid
  grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr
  align-items: center
  &:not(.list-header)
    border-bottom: 1px solid #B9B9B9

.dashboar-list
  width: 93%

.list-header
  padding: 8px 0
  background: rgba(135, 135, 135, 0.11)
  border-radius: 5px
  p
    font-size: 12px
    text-align: center
    margin-bottom: 0
    color: #787878
    font-family: $semibold
    &:first-child
      text-align: left
      margin-left: 30px

.list-line
  .plan-name
    display: flex
    align-items: center
    p
      margin-bottom: 0
    .img-wrapper
      width: 40px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
  .line-item
    font-size: 12px
    text-align: center
  .available
    font-size: 14px
    color: red
    font-family: $semibold
